.menuBackground{
    -fx-background-color: #B55243;
}

.button{
    -fx-background-color: #B55243;
    -fx-font-weight: BOLD;
}

.button:hover{
    -fx-background-color: #0048BA;
    -fx-font-weight: BOLD;
}