.background{
    -fx-background-image: url('../images/Logo.png');
    -fx-background-color: #496591;
    -fx-background-size: 50%,50%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 120%;
}

.button{
    -fx-font-size: 12pt;
    -fx-font-family: "Helvetica Neue";
    -fx-background-color: #161E69;
    -fx-text-fill: WHITE;
    -fx-background-size: 100% 100%;
    -fx-border-color: BLACK;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: HAND;
    -fx-font-weight: BOLD;
}

.noTextButton{
    -fx-font-size: 12pt;
    -fx-font-family: "Helvetica Neue";
    -fx-background-color: #161E69;
    -fx-text-fill: TRANSPARENT;
    -fx-background-size: 100% 100%;
    -fx-border-color: BLACK;
    /* -fx-border-radius: 40;
    -fx-background-radius: 40;*/
    -fx-cursor: HAND;
    -fx-font-weight: BOLD;
}

.snowmanButton{
    -fx-font-size: 12pt;
    -fx-font-family: "Helvetica Neue";
    -fx-background-color: TRANSPARENT;
    -fx-background-image: url('../images/BumbleIcon.png');
    -fx-text-fill: TRANSPARENT;
    -fx-background-size: 100% 100%;
    -fx-border-color: TRANSPARENT;
    -fx-cursor: HAND;
}

.noSnowmanButton{
    -fx-font-size: 12pt;
    -fx-font-family: "Helvetica Neue";
    -fx-background-color: TRANSPARENT;
    -fx-background-image: url('../images/BumbleXIcon.png');
    -fx-text-fill: TRANSPARENT;
    -fx-background-size: 100% 100%;
    -fx-border-color: TRANSPARENT;
    -fx-cursor: HAND;
}

.menuButton{
    -fx-font-size: 12pt;
    -fx-font-family: "Helvetica Neue";
    -fx-background-color: #191970;
    -fx-text-fill: WHITE;
    -fx-background-size: 100% 100%;
    -fx-border-color: BLACK;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: HAND;
    -fx-font-weight: BOLD;
}

.menuBox{
    -fx-background-color:  #161E69;
    -fx-border-color: #161E69;
    -fx-effect: null;
}

.jfx-hamburger {
    -fx-background-color: #161E69;
    -fx-border-color: BLACK;
}

.jfx-hamburger:hover {
    -fx-background-color: #0048BA;
}

.jfx-hamburger StackPane {
    -fx-background-color: WHITE;
}

.button:hover{
    -fx-background-color: #0048BA;
}

.tree-view.column-header.label {
    -fx-text-fill: BLACK;
}

.label{
    -fx-text-fill: BLACK;
    -fx-font-weight: BOLD;
}

.text-area-general {
    -fx-font-family: "Helvetica Neue";
    -fx-font-size: 14pt;
    -fx-background-color: #161E69;
    -fx-text-fill: WHITE;
    -fx-font-weight: BOLD;
    -fx-border-color: BLACK;
    -fx-focus-color: transparent;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
}

.text-area-sr {
    -fx-font-family: "Helvetica Neue";
    -fx-font-size: 12pt;
    -fx-background-color: #161E69;
    -fx-text-fill: WHITE;
    -fx-font-weight: BOLD;
    -fx-border-color: BLACK;
    -fx-focus-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.text-area-map {
    -fx-font-family: "Helvetica Neue";
    -fx-font-size: 14pt;
    -fx-background-color: transparent;
    -fx-text-fill: WHITE;
    -fx-font-weight: BOLD;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.text-area *.text{-fx-text-alignment: center;}

.comboBox{
    -fx-background-color: #161E69;
    -fx-font-size: 12pt;
    -fx-font-family: "Helvetica Neue";
    -fx-text-fill: WHITE;
    -fx-prompt-text-fill: WHITE;
    -fx-background-size: 100% 100%;
    -fx-border-color: BLACK;
    -fx-cursor: HAND;
    -fx-font-weight: BOLD;
}

.comboBox:focused{
    -fx-background-color: #0048BA;
    -fx-text-fill: #FFFFFF;
}

.comboBox.list-view{
    -fx-background-color: #161E69;
    -fx-text-fill: #FFFFFF;
}

.comboBox.list-cell{
    -fx-background-color: #161E69;
    -fx-text-fill: #FFFFFF;
}

.titleFormat {
    -fx-font-size: 18pt;
    -fx-font-family: "Helvetica Neue";
    -fx-text-fill: WHITE;
}

.bodyFormat {
    -fx-font-size: 14pt;
    -fx-font-family: "Helvetica Neue";
}

.mapFormat {
    -fx-font-size: 14pt;
    -fx-font-family: "Helvetica Neue";
    -fx-text-fill: BLACK;
}